<nav>
  <header class="site-header">
    <a id="logo" href="{{ site.baseurl }}/">
      <div class="logo">
        {% include svg/logo.svg %}
      </div>
    </a>

    <div id="nav" class="hamburger" tabindex="0">
      <span class="burger-bar"></span>
      <span class="burger-bar"></span>
      <span class="burger-bar"></span>
      <span class="burger-bar"></span>
    </div>
  </header>

  <div id="menu" class="menu">
    <ul>
      <!-- sort pages based on order variable and assign to new variable -->
      {% assign pages = site.pages | sort:"order" %} {% for p in pages %} {% if
      p.nav-title %}

      <a href="{{ p.url | prepend: site.baseurl}}" class="menu_pages">
        <li>
          {{ p.nav-title }}
        </li>
      </a>

      {% endif %} {% endfor %}

      <a href="https://www.linkedin.com/in/michaelkahane" class="menu_pages">
        <li>
          LinkedIn
        </li>
      </a>

      <a href="/kahane_resume.pdf" class="menu_pages">
        <li>
          Resume
        </li>
      </a>
    </ul>
  </div>
</nav>
