<div class="image-set">
  {% if include.image1 %}

  <div class="row">
    <div class="col">
      <img src="{{ "/images/" | append: include.image1 }}" title="{{
      include.image1 | remove: '.jpg' | remove: '.gif' | remove: '.png' |
      replace: '-', ' ' | capitalize }}" alt="{{ include.image1 | remove: '.jpg'
      | remove: '.gif' | remove: '.png' | replace: '-', ' ' | capitalize }}"/>
    </div>
  </div>

  {% endif %} {% if include.video1 %}

  <div class="row">
    <div class="col">
      <div class="embed-container">
        <iframe
          src="https://player.vimeo.com/video/{{ include.video1 }}"
          frameborder="0"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  {% endif %} {% if include.image2 and include.image3 %}

  <div class="row">
    <div class="col half">
      <img src="{{ "/images/" | append: include.image2 }}" title="{{
      include.image2 | remove: '.jpg' | remove: '.gif' | remove: '.png' |
      replace: '-', ' ' | capitalize }}" alt="{{ include.image2 | remove: '.jpg'
      | remove: '.gif' | remove: '.png' | replace: '-', ' ' | capitalize }}"/>
    </div>

    <div class="col half">
      <img src="{{ "/images/" | append: include.image3 }}" title="{{
      include.image3 | remove: '.jpg' | remove: '.gif' | remove: '.png' |
      replace: '-', ' ' | capitalize }}" alt="{{ include.image3 | remove: '.jpg'
      | remove: '.gif' | remove: '.png' | replace: '-', ' ' | capitalize }}"/>
    </div>
  </div>

  {% endif %}{% if include.htmlVideo1 %}

  <div class="row">
    <div class="col">
      <video autoplay loop muted playsinline>
        <source src="{{ "/images/" | append: include.htmlVideo1 }}"
        type="video/mp4" /> Your browser does not support the video tag.
      </video>
    </div>
  </div>

  {% endif %} {% if include.image4 %}

  <div class="row">
    <div class="col">
      <img src="{{ "/images/" | append: include.image4 }}" title="{{
      include.image4 | remove: '.jpg' | remove: '.gif' | remove: '.png' |
      replace: '-', ' ' | capitalize }}" alt="{{ include.image4 | remove: '.jpg'
      | remove: '.gif' | remove: '.png' | replace: '-', ' ' | capitalize }}"/>
    </div>
  </div>

  {% endif %}
</div>
