---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    <div>
    	<p class="post-meta">{{ page.project-tags }}</p>
    </div>

  	<div>
  		<p class="post-meta">{{ page.year }}</p>
  	</div>

    {% if page.awards %}
      <p class="post-meta">{{ page.awards }}</p>
    {% endif %}

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
